﻿@model MVCCoreDM1.ViewModels.ApplicationUserVM

@{
    ViewData["Title"] = "Create Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>User</h4>

<div>
    <p><a class="btn btn-primary" asp-action="Index" role="button">Back to List</a></p>
</div>

<hr />

<div class="container body-content">
    <div class="col-md-8">
        <section>
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SelectedTenantId"></label>
                    <select asp-for="SelectedTenantId" id="tenantList" asp-items="Model.TenantList" class="form-control" onchange="SelectionChange()">
                        <option value="">Select Tenant</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedRole"></label>
                    <select asp-for="SelectedRole" id="roleList" asp-items="Model.RoleList" class="form-control">
                        <option value="">Select Role</option>
                    </select>
                </div>
                <div id="isAdminDiv">
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="IsAdmin">
                                <input asp-for="IsAdmin" />
                                @Html.DisplayNameFor(m => m.IsAdmin)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="UserID"></label>
                    <input asp-for="UserID" class="form-control" />
                    <span asp-validation-for="UserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <div>
                <h4>Further Instruction</h4>
                <hr />
                <p>
                    If you want to add "Email", or update "TimeZone", "Timestamp Offset", "Language", and "Date Format" for a newly created user, please go to Settings &#8594 User Setup and update it.
                </p>
                <p>
                    *If you don't select tenant, it will create a user under system level.
                </p>
            </div>
        </section>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            SelectionChange();
        });

        function SelectionChange() {
            var selectedTenant = $("#tenantList option:selected").text();

            if (selectedTenant === "Select Tenant") {
                $("#isAdminDiv").show();
            }
            else {
                $("#isAdminDiv").hide();
            }

            $.blockUI({ message: "<h3> Retrieving role and tenant data now...</h3>" });
            var url = '@Url.Action("GetAllRoles","ApplicationUser")'

            $.ajax({
                type: 'GET',
                contentType: "application/x-www-form-urlencoded",
                dataType: 'json',
                data: { selectedTenant: selectedTenant },
                url: url,

                success: function (result) {
                    $.unblockUI();
                    var options = result.map(function (el, i) {
                        return $("<option></option>").val(el.Value).prop("selected", el.Selected).text(el.text).val(el.text);
                    });
                    $("#roleList").html(options, "Value", "Text")
                },
                error: function () {
                    $.unblockUI();
                    alert("Can't retrieve role list");
                }
            });
        }
    </script>
}
