﻿@using Microsoft.AspNetCore.Identity
@*@inject SignInManager<ApplicationUser> SignInManager*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCCoreDM1</title>

    @*From Izenda*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/izenda_visualizations.css" rel="stylesheet" /> @*Map error why?*@
    <link href="~/js/izenda/izenda-ui.css" rel="stylesheet" />

    @*Default from Visual Studio template. Unfortunately, the current version of Izenda BI does not support Bootstrap 4*@
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="https://www.izenda.com/" target="_blank" rel="noopener noreferrer">
                            <img src="https://3u8npt2xyr3u2fgvai49zopv-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/izenda-logo-white.png"
                                 alt="Site Logo" style="height:18px; width: 100px" />
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*TODO:FIX THIS*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Izenda">Izenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" data-toggle="dropdown">
                                    Reports
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Report" asp-action="ReportDesigner">New Report</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Report" asp-action="Reports">Report List</a>
                                    </li>
                                    <li class="nav-item">
                                        @*TODO: Replace hardcoded ID*@
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Report" asp-action="ReportViewer" asp-route-id="96F16CED-BE71-4CF5-9D5B-F7701F7761D1">Report Viewer</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Report" asp-action="ReportParts">Report Parts</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    Dashboards
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Dashboard" asp-action="DashboardDesigner">New Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Dashboard" asp-action="Dashboards">Dashboard List</a>
                                    </li>
                                    <li class="nav-item">
                                        @*TODO: Replace hardcoded ID*@
                                        <a class="nav-link text-light" asp-area="Main" asp-controller="Dashboard" asp-action="DashboardViewer" asp-route-id="BC2B2D41-381A-409E-BE91-5792AD56BDE6">Dashboard Viewer</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    @*Default from Visual Studio template. Unfortunately, the current version of Izenda BI does not support Bootstrap 4*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

    @*Izenda sources*@
    <script rel="preload" src="~/js/jquery-1.10.2.min.js"></script>
    <script rel="preload" src="~/js/bootstrap.min.js"></script>
    <script rel="preload" src="~/js/site.js" asp-append-version="true"></script>
    <script rel="preload" src="~/js/alertify.js"></script>
    <script rel="prefetch" src="~/js/izenda/izenda_common.js"></script>
    <script rel="prefetch" src="~/js/izenda/izenda_locales.js"></script>
    <script rel="prefetch" src="~/js/izenda/izenda_vendors.js"></script>
    <script rel="prefetch" src="~/js/izenda/izenda_ui.js"></script>
    <script rel="prefetch" src="~/js/izenda.integrate.js"></script>
    <script rel="prefetch" src="~/js/izenda.utils.js"></script>
    <script rel="prefetch" src="~/js/izenda_visualizations.js"></script> @*Map error why?*@

    <script type="text/javascript">
        $(document).ready(function () {
            DoIzendaConfig();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="dropdown"]').dropdown();
            $("#reportPartLoader").hide();
            $("#reportPartLoaderText").hide();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
