﻿@model MVCCoreDM1.ViewModels.TenantVM

@{
    ViewData["Title"] = "Create Tenant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Tenant</h4>

<div>
    <p><a class="btn btn-primary" asp-action="Index" role="button">Back to List</a></p>
</div>

<hr />

<div class="container body-content">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tenant.Name" class="control-label"></label>
                <input asp-for="Tenant.Name" class="form-control" />
                <span asp-validation-for="Tenant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenantDetailName" class="control-label"></label>
                <input asp-for="TenantDetailName" class="form-control" />
                <span asp-validation-for="TenantDetailName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Further Instruction</h4>
            <hr />
            <div>
                <p>
                    If you want to add "Description" or enable a Module(s) to a newly created tenant, please go to Settings &#8594 Tenant Setup and update it.
                </p>
            </div>
        </section>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
